
body{
    background-image:url("images/5.jpg");
    height:100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
 }
.main{
    max-width: 1500px;
    margin: auto;
    }

ul{
   list-style-type: none; 
   float: right;
   margin-top: 25px;
}
ul li{
    display: inline-block;
    border: 1px solid transparent;
}
ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 6px;
}
ul li a:hover{
    background-color:red;
    color: white;
    transition: 0.5s ease;
}
.active{
background-color: transparent;
color: white;
transition: 0.5s ease;
}
.logo img{
    margin-top: 7px;
}
.center_text{
    margin-top: 70px;
    margin-left: 530px;
}
h1{
    color: red;
}
#bt1{
    border: 1px solid white;
    color: white;
    padding: 6px;
    text-decoration: none;
}
#bt2{
    border: 1px solid white;
    color: white;
    padding: 6px;
    text-decoration:none;
}
#bt1:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease;
}
#bt2:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease;
}
